* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;;
}
.container {
background-color: rgb(158, 213, 235);

margin: 0 auto;
padding: 1rem;
width: 400px;
max-width: 100%;

}

#btnFetch {
    width: 100px;
    padding: 5px;
}